<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> download</title>
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="download.css">
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4536354474820269"
        crossorigin="anonymous"></script>

    <meta content='B4ROwLvFakfFWnlR6ODA3XLoXeubAXTxJTqe1lBeY-s' name='google-site-verification' />

    <meta name="robots" content="index, follow">

   <script src="https://kit.fontawesome.com/b12715ab6c.js"crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="navbar">
          <div class="logo"><img src="image/loogo.png" /></div>
          <div class="links">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#tools">Tools</a></li>
            <li><a href="#contacts">Contact</a></li>
          </div>
        </div>
      </header>
<!-- ======================================================= -->
<section class="vid-area">
<div class="vid-container">
<video class="video-area">
  <source src="<%= url %>">
</video>
<div class="space">
    <a  href="<%= url %>" role="button" target="_blank">download</a>

</div>
<!-- <button type="submit">Download</button> -->
<div class="gretting">
  <h1>Thankyou for visiting</h1>
</div>
</div>
</section>

<!-- ======================================================= -->
      <footer id="footer">
      <div class="footer">
        <div class="col-1">
          <h3>USEFUL LINKS</h3>
          <a href="#">About Us</a>
          <a href="#">Disclaimer</a>
          <a href="#">Privacy policy</a>
          <a href="#">Support</a>
          <a href="#">Terms of Service</a>
        </div>
        <div class="col-2">
          <h3>SOCIAL LINKS</h3>
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
          <a href="#">Linked In</a>
          <a href="#">Twitter</a>
          <a href="#">Bing.co</a>
        </div>
    </footer>

    <div class="copyright">
      <h2>Copyright © 2023  IGram.co all right reserved</h2>
    </div> 
</body>
</html>
